   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  } 
  .contenedorChat {
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: linear-gradient(135deg, rgb(58, 165, 96) 0%, rgb(183, 230, 108) 100%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    right: 20px;
    z-index: 1;
    position: fixed;
    bottom: 10%;
    transition: bottom 0.3s ease-in-out;
  }
  .logoChat{
    width: 20%;
  }
  .cabecera{
    display: flex;
    justify-items: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
  }
  .chatSCN{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .status{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .circuloVerde{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #99cc33;
  }
  .alerta{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* .contenedorChat.hidden{
    display: none;
  } */
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  h3 {
    margin-bottom: 10px;
  }
  #responses {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  /* #nextQuestionButton {
    display: none;
    margin-right: 5px;
  } */
  .show {
    display: block;
  }
  #botonChat{
    width: 5%;
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    margin-top: 10px;
    float: right;
  }  
  .chatLogo{
    width: 20%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }  
  button#nextQuestionButton {
    border: none;
    background: none;
}